/bootstrap/compiled.php
/vendor
composer.phar
composer.lock

app/storage/logs/*
app/storage/chache/*
app/storage/sessions/*
app/storage/views/*

app/config/local

.tags

#eclipse
.buildpath
.project
.settings/

.env.local.php
.env.php
.DS_Store
Thumbs.db
